body.blog-page article.article
{
    border-bottom: 1px solid $inactive-color;
}

article.article
{
    margin-top: 20px;
    padding-bottom: 10px;
    min-height: 260px;

    .title-container
    {
        position: relative;
        @media(max-width: $break-medium - 1)
        {
            text-align: center;
        }
        .article-title
        {
            margin-top: 0;
            margin-bottom: 0.3em;
            font-size: 5em;

            @media(max-width: $break-medium - 1)
            {
                font-size: 3em;
            }

            a
            {
                color: $font-color;
                text-decoration: none;
            }
            a:hover
            {
                color: $active-color;
            }
        }
        .article-identifier
        {
            z-index: -1;
            position: absolute;
            right: -15%;
            top: 100px;
            line-height: 0;

            font-size: 20em;
            color: $special-color;

            @media(max-width: $break-medium - 1)
            {
                right: -10%;
                top: 100%;
            }
        }

        .post-options
        {
            text-align: left;
        }
    }

    .content-container
    {
        padding-top: 15px;
        text-align: justify;
        word-wrap: break-word;
    }

}
