
article.article
{
    margin-top: 20px;
    padding-bottom: 20px;
    min-height: 260px;
    border-bottom: 1px solid $inactive-color;

    .title-container
    {
        position: relative;
        @media(max-width: $break-medium - 1)
        {
            text-align: center;
        }
        .article-title
        {
            margin-top: 0;
            margin-bottom: 0.3em;
            font-size: 5em;

            @media(max-width: $break-medium - 1)
            {
                font-size: 3em;
            }

            a
            {
                color: $font-color;
                text-decoration: none;
            }
            a:hover
            {
                color: $active-color;
            }
        }
        .article-identifier
        {
            z-index: -1;
            position: absolute;
            right: -5%;
            top: 100px;
            line-height: 0;

            font-size: 20em;
            color: $special-color;

            @media(max-width: $break-medium - 1)
            {
                right: -10%;
                top: 100%;
            }
        }

        .post-options
        {
            text-align: left;
        }
    }

    .content-container
    {
        padding-top: 15px;
        text-align: justify;
        word-wrap: break-word;
    }
}

.public-options
{
    padding: 10px 0;
    @media(max-width: $break-small - 1)
    {
        text-align: center;
    }
    .ssk-group
    {
        display: inline-block;
        float: right;
        @media(max-width: $break-small - 1)
        {
            float: none;
            display: block;
        }
        .ssk-title
        {
            font-size: 18px;
        }
        .ssk.ssk-icon
        {
            margin: 0 4px;
        }
    }

    .like-option
    {
        display: inline-block;
        font-size: 18px;
        padding: 4px 0;
        a
        {
            text-decoration: none;
        }
    }
}

.comments
{
    margin-bottom: 20px;
    .section-title
    {
        @media(max-width: $break-medium - 1)
        {
            text-align: center;
        }
    }
    .add-comment, .comment
    {
        padding-bottom: 20px;
        border-bottom: 1px solid $inactive-color;
        margin-bottom: 10px;
        min-height: 95px;
    }

    .comment-identifier
    {
        z-index: -1;
        position: absolute;
        right: 0;
        top: 35px;
        line-height: 0;
        font-size: 7em;
        color: $special-color;
    }

    .comment-body
    {
        border-left: 1px solid $inactive-color;
        .comment-date
        {
            font-size: 0.9em;
        }
    }

}
