$break-medium: 992px;
$break-small: 768px;

$font-family: 'Raleway', sans-serif;
$font-color: #444;
$active-color: #000;
$inactive-color: #ddd;
$special-color: #BCD;

@import url('https://fonts.googleapis.com/css?family=Raleway');

body
{
    font-family: $font-family;
    color: $font-color;
    font-size: 18px;

    @media(min-width: $break-medium)
    {
        background: url(../imgs/fog-lg.png) repeat-y #eee;
    }
    @media(min-width: $break-small)
    {
        background: url(../imgs/fog-md.png) repeat-y #eee;
    }
    @media(max-width: $break-small - 1)
    {
        background: url(../imgs/fog-sm.png) repeat-y #eee;
    }
}
img
{
    max-width: 100%;
}
a
{
    color: $special-color;
}
.cta-container
{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
    a
    {
        @extend a;
    }
}

@import "menu";
@import "articles";
