{% extends "./head/head.jinja" %}

{% block content %}
    <div class="container">
        <article class="row article">
            <div class="col-xs-12 col-md-6 title-container">
                <h1 class="article-title text-capitalize">
                    <a href="/blog/1/">
                        the article title
                    </a>
                </h1>
                <span class="article-identifier text-uppercase">X</span>
                <span class="article-date">13 Apr, 2017</span>
            </div>

            <div class="col-xs-12 col-md-6 content-container">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                <div class="cta-container">
                    <a href="/blog/1" class="btn btn-default text-uppercase">read more</a>
                </div>
            </div>
        </article>
    </div>
{% endblock content %}
